@font-face {
  font-family: "Space Grotesk";
  src: url('./assets/fonts/SpaceGrotesk.ttf')
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
